body {
  color: #454545;
  font-family: "Open Sans", sans-serif;
  width: 90vw;
  max-width: 700px;
  margin: auto;
  display: block;
}

img {
  width: inherit;
  max-width: inherit;
  object-fit: contain;
  scale: 0.95;
}

.about {
  text-align: center;
  padding-top: 75px;
  padding-bottom: 25px;
}
