body {
  color: #454545;
  font-family: "Open Sans", sans-serif;
  text-align: justify;
  line-height: 1.4;
}

img {
  width: inherit;
  max-width: inherit;
  object-fit: contain;
  /* overflow-clip-margin: content-box;
  overflow: clip; */
  scale: 0.95;
}

.content {
  width: 90vw;
  max-width: 700px;
  margin: auto;
  display: block;
}

.about {
  text-align: center;
  padding-top: 75px;
  padding-bottom: 25px;
}
