body {
  color: #454545;
  font-family: "Open Sans", sans-serif;
}

img {
  width: 700px;
  scale: 0.95;
}

.content {
  max-width: 700px;
  margin: auto;
}

.about {
  text-align: center;
  padding-top: 80px;
  padding-bottom: 25px;
}
